{% extends "base.html.twig" %}
{% block body %}
	<h1>restaurateur</h1>
	<section>
		<h2>{{resto.Id}}</h2>
		<h2>{{resto.NomRestaurant}}</h2>
		<p>{{resto.Localisation}}</p>
		<p>{{resto.HoraireOuverture}}</p>
		<p>{{resto.InfosComplementaire}}</p>
		<img src="/uploads/{{resto.photo}}" alt="ma phto">
		<img src="/uploads/{{resto.ListAllergene}}" alt="ma phto">
	</section>
	{% for plat in resto.plats %}
		<h2>{{plat.NomPlat}}</h2>
		<p>{{plat.PrixUnit}}
			€</p>
		<p>{{plat.Note}}
			etoiles</p>
		<img src="/uploads/{{plat.photo}}" alt="ma phto">
	{% endfor %}

{% endblock %}
