{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<h1>
		admin</h1>

	{% if restaurants is defined %}
		{% for resto in restaurants %}
			<p>{{resto.NomRestaurant}}</p>
			<a href="{{path("restaurant", {'id': resto.id})}}">
				<button>
					vue public
				</button>
			</a>

			<a href="{{path("restaurant_gestion_edit", {'id': resto.id})}}">
				<button>
					modifier
				</button>
			</a>


			<a onclick="return confirm('Attention ceci va supprimé le restaurant définitivement')" href="{{path("restaurant_gestion_delete", {'id': resto.id})}}">
				<button>
					supprimer
				</button>
			</a>

			<a href="{{path("restaurant_gestion_plat", {'id': resto.id})}}">
				<button>
					les plats
				</button>
			</a>


		{% endfor %}
	{% elseif plats is defined%}
		{% for plat in plats %}
			<h2>{{plat.NomPlat}}</h2>
			<h2>{{plat.id}}</h2>
			<p>{{plat.PrixUnit}}
				€</p>
			<p>{{plat.Note}}
				etoiles</p>

			<a href="{{path("plat_gestion_edit", { 'resto': resto.id,'id': plat.id})}}">
				<button>
					modifier
				</button>
			</a>

			<a href="{{path("plat_gestion_delete", { 'resto': resto.id,'id': plat.id})}}">
				<button>
					supprimer
				</button>
			</a>
		{% endfor %}
	{% elseif users is defined%}
		{% for user in users %}
			<p>{{user.email}}</p>
			{% for role in user.roles %}
				<p>{{role}}</p>
			{% endfor %}
			<a href="{{path("admin_user_set", { 'id':user.id})}}">
				<button>
					modifier
				</button>
			</a>

		{% endfor %}
	{% else %}

		<a href="{{path("resto_admin")}}">
			<button>
				Restaurant
			</button>
		</a>
		<a href="{{path("plat_admin")}}">
			<button>
				Plat
			</button>
		</a>
		<a href="{{path("user_admin")}}">
			<button>
				utilisateur
			</button>
		</a>
	{% endif %}
{% endblock %}
